.TodoItemsListDone{
    flex: 200px;
    flex-direction: column;
    background-color: #2e6963;
    display: flex;
    border-radius: 5px;
    margin: 5px;
    overflow: auto;

    height: calc(100% - 10px)
}

.TodoItemsList {
    display: flex;
    flex-direction: column;
    flex: 200px;
    background-color: rgba(109, 8, 8, 0.72);
    border-radius: 5px;
    margin: 5px;
    overflow: auto;

    height: calc(100% - 10px)
}

@media only screen and (max-width: 449px) {
    .TodoItemsList{
        height: calc(50% - 10px);
    }
    .TodoItemsListDone{
        height: calc(50% - 10px);
    }
}


