.TodoList{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #858585;
    border-radius: 5px;

}
.Lists{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}